{% extends 'base.html.twig' %}

{% block title %} Dealgames - Home {% endblock title %}


{% block body %}
<section class="resume">
  <div class="section-title text-center text-white p-5">
    <h1 class="">Top Catégories</h1>
    <hr class="">
  </div>
  <section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet.jpg"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Consoles</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Accesoires</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Jeux</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section-title text-center text-white p-5">
    <h1 class="">Annonces recents</h1>
    <hr class="">
  </div>
</section>

<section class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for annonce in annonces %}
    <div class="col-md-3">
      <div class="card">
        <img src="{{ annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg') }}" alt="{{ annonce.title }}" class="h-75" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ annonce.title }}</h5>
          <h6 class="card-title">{{ annonce.categorie.name }}</h6>
          <p class="card-text">{{ annonce.description }}</p>
          <a href="{{ path('app_annonce_show', {'id': annonce.id})}}" class=" stretched-link"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}