{% extends 'base.html.twig' %}

{% block title %}Dealgames - {{ annonce.title }}{% endblock %}

{% block body %}

  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 ">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg') }}" alt="{{ annonce.title }}" /></div>
            <div class="col-md-6 text-light">
                <h1 class="display-5 fw-bolder border-bottom">{{ annonce.title }}</h1>
                <h2 class="fw-bolder border-bottom">{{ annonce.categorie.name }}</h2>
                <p class="lead border-bottom">{{ annonce.description }}</p>
                <p class="fw-bolder border-bottom">{{ annonce.user.username }}</p>
                <p class="fw-bolder border-bottom">Contact: {{annonce.user.email}}</p>
                <p class="">Crée le : {{annonce.createat|date}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
